.footer-and-credits {
  margin-top: 50px;
}

footer {
  text-align: center;

  padding-top: 50px;
  padding-bottom: 50px;

  background: $blue-dark;
  color: white;

  p {
    opacity: .8;
  }

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }

  .roccia {
    margin-top: 10px;
    max-width: 150px;

    @media (max-width: $screen-xs-max) {
      margin: 0 auto;
    }

    @media (min-width: $screen-sm-min) {
      float: right;
    }
  }

  .container-text {
    max-width: 600px;
  }

  .container-images {
    max-width: 700px;
  }
}

.credits {
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $gray-lighter;

  text-align: center;

  font-weight: bold;
  color: $gray-light;

  @media (max-width: $screen-xs-max) {
    font-size: ceil(($font-size-large * 1.5));
  }

  @media (min-width: $screen-sm-min) {
    font-size: ceil(($font-size-large * 2));
  }

  a {
    color: darken($blue, 6.5%);
    transition: color .25s ease-in-out;

    &:hover {
      color: darken($blue, 13%);
    }

    &:hover, &:active {
      text-decoration: none;
    }

  }
  .heart-icon {
    color: $red;
  }
}
