.form-actions {
  padding-top: 20px;
  border-top: 1px solid $gray-lighter;
  text-align: right;
}

.form-control, .has-error .form-control {
  &, &:focus {
    box-shadow: none;
  }
}

.form-control[readonly] {
  background-color: white;
  cursor: text;
}
