main {
  @extend .container;
  margin-top: 10px;
}

section {
  @extend .row;
}

.container-sm {
  max-width: $container-sm * 0.5;
  margin: 0 auto;
}

.container-md {
  max-width: $container-sm * 1.25;
  margin: 0 auto;
}
